<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack Table</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="game-body">
    <header id="header">
      <h3>Table #1</h3>
    </header>
    <main class="game-main">
      <form action="/game" method="POST">
        <button type="submit" class="deal-button">Deal</button>
      </form>
    </main>
    <script src="base.js"></script>
  </body>
</html>
