<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header id="header">
      <h1>Welcome to Blackjack</h1>
    </header>
    <main class="index-main">
      <form action="/index" method="POST">
      <button type="submit" class="start-button">Click To Begin</button>
    </form>
    </main>
  </body>
</html>
